@inherits DiaryCompBase

@using Bases
@inject NavigationManager Navigation

<div class="row">
	<Calendar Title="Diary Entries" SpecialDates="uniqueDates" OnDayClickAction="OpenDay" FirstDate="firstDate"/>
</div>

@code {
	private List<DateTime> uniqueDates = new();

	public DiaryCalendar() { IsHabit = false; }

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();
		uniqueDates = allPosts.Select(obj => obj.Date).Distinct().ToList();
	}

	private async Task OpenDay(DateTime day)
	{
		Navigation.NavigateTo(day.ToString("yyyy-MM-dd"),true);
		await Task.CompletedTask;
	}
}
