@inherits DiaryCompBase

@using Bases
@using MauiBlazorWeb.Shared.Components.Icons

<div class="table-responsive" style="max-height: 400px;">
	<table class="table table-striped text-center">
		<thead class="thead-light" style="position: sticky; top: 0; background-color: #ffefef">
			<tr>
				<th scope="col">Habits</th>
				<th scope="col">Completed?</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var col in allCols)
			{
				<tr>
					<th>@col.Name</th>
					@{
						var post = allPosts.FirstOrDefault(p => p.Diary_log_column_Id == col.Id && p.Date == Date);
						<td class="tracker-post" @onclick="() => OnToggleHabitValue(col.Id,Date)">
							@(post?.Value ?? "")
						</td>
					}
				</tr>
			}
			<tr>
				<th>
					@Date.ToString("yyyy-MM-dd")
				</th>
				<td>
					<button class="btn btn-info" @onclick="() => newHabitDialog.Show()">
						Add a new Habit!
					</button>
				</td>
			</tr>

		</tbody>
	</table>
</div>

<NewDiaryColDialog IsHabit="IsHabit" @ref=newHabitDialog />

@code {
	[Parameter, EditorRequired] public DateTime Date { get; set; }
	private NewDiaryColDialog newHabitDialog;

	public HabitsOnDate()
	{
		IsHabit = true;
		newHabitDialog = new NewDiaryColDialog();
	}
}

<style>
	.tracker-post {
		vertical-align: middle;
		background-color: ghostwhite;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.tracker-post:hover {
			background-color: powderblue;
		}
</style>
