@inherits DiaryCompBase

@using Bases
@inject NavigationManager Navigation

<div class="row">
	<Calendar Title="Complete diary days" SpecialDates="uniqueDates" OnDayClickAction="OpenDay" FirstDate="firstDate"/>
</div>

@code {
	private List<DateTime> uniqueDates = new();

	public HomeCalendar() { IsHabit = false; }

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		uniqueDates = new List<DateTime>();
		if(allDiaryCols.Count != 0)
			uniqueDates = allDatesSinceReg.Where(date => allDiaryCols.All(col => allDiaryPosts.Any(p => p.Date == date && p.Diary_log_column_Id == col.Id))).ToList();
	}

	private async Task OpenDay(DateTime day)
	{
		Navigation.NavigateTo(day.ToString("yyyy-MM-dd"));
		await Task.CompletedTask;
	}
}
