@page "/exercise/id={ExerciseId:int}"
@inherits SportCompBase

@using Bases
@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models.Sports

@if (!_appState.IsLoggedIn)
{
	<NotLoggedIn />
}
else if (hasInvalidParameter)
{
	<h3>This is not a valid path to an Exercise Page</h3>
}
else
{

	<div class="col-auto m-2" style="background-color: navajowhite">
		Ha dialogban mutatom, akkor ez az oldal felesleges
	</div>
}

@code {
	[Parameter, EditorRequired]
	public int ExerciseId { get; set; }

	private Exercise exercise;
	private Sport sport;

	public ExercisePage()
	{
		exercise = new Exercise();
		sport = new Sport();
	}
	protected override async Task ValidateParameters()
	{
		exercise = await ValidateExercise(ExerciseId);
		sport = ValidateSport(exercise.Sport_Id);

		await base.ValidateParameters();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			if (!hasInvalidParameter)
				await InvokeAsync(() => _appState.Title = $"{sport.Name}'s {exercise.Name} exercise");
			else
				await InvokeAsync(() => _appState.Title = "Invalid Exercise");

			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}