@page "/new-routine/id={AccountDoesId:int}"
@inherits SportCompBase

@using Bases
@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models.Sports

@if (!_appState.IsLoggedIn)
{
	<NotLoggedIn />
}
else if (hasInvalidParameter)
{
	<h3>This is not a valid path to a New Routine page</h3>
}
else
{

	<div class="col-auto m-2">
		newroutine
	</div>
}

@code {
	[Parameter, EditorRequired]
	public int AccountDoesId { get; set; }
	private Account_does_Sport accountDoesSport;
	private Sport sport;

	public NewRoutinePage()
	{
		accountDoesSport = new Account_does_Sport();
		sport = new Sport();
	}
	protected override async Task ValidateParameters()
	{
		accountDoesSport = ValidateAccountDoesSport(AccountDoesId);
		sport = ValidateSport(accountDoesSport.Sport_Id);

		await base.ValidateParameters();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			if (!hasInvalidParameter)
				await InvokeAsync(() => _appState.Title = $"New {sport.Name} Routine");
			else
				await InvokeAsync(() => _appState.Title = "Invalid New Routine");

			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}