@page "/new-workout/id={AccountDoesId:int}"
@page "/new-workout/routineid={RoutineId:int}"
@inherits SportCompBase

@using Bases
@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models.Sports

@if (!_appState.IsLoggedIn)
{
	<NotLoggedIn/>
}
else if (hasInvalidParameter)
{
	<h3>This is not a valid path to a New Workout page</h3>
}
else
{
	<div class="col-auto m-2" style="background-color: navajowhite">
		new workout
	</div>
}


@code {
	[Parameter]
	public int AccountDoesId { get; set; } = 0;
	[Parameter]
	public int RoutineId { get; set; } = 0;

	private Account_does_Sport accountDoesSport;
	private Sport sport;
	private Routine routine;

	public NewWorkoutPage()
	{
		accountDoesSport = new Account_does_Sport();
		sport = new Sport();
		routine = new Routine();
	}

	protected override async Task ValidateParameters()
	{
		if (AccountDoesId == 0 && RoutineId == 0)
			hasInvalidParameter = true;

		if (AccountDoesId != 0 && RoutineId != 0)
			hasInvalidParameter = true;

		if (AccountDoesId != 0)
		{
			accountDoesSport = ValidateAccountDoesSport(AccountDoesId);
			sport = ValidateSport(accountDoesSport.Sport_Id);
		}
		else if (RoutineId != 0)
		{
			routine = await ValidateRoutine(RoutineId);
			accountDoesSport = ValidateAccountDoesSport(routine.Account_does_Sport_Id);
			sport = ValidateSport(accountDoesSport.Sport_Id);
		}

		await base.ValidateParameters();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			if (!hasInvalidParameter)
				await InvokeAsync(() => _appState.Title = $"New {sport.Name} Workout");
			else
				await InvokeAsync(() => _appState.Title = "Invalid New Workout");
			
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}