@page "/diary"

@using Bases
@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.DiaryComps
@using Interfaces

@inject IAppState _appState
@inject IDiaryCompSubject _diarySubject

@if (!_appState.IsLoggedIn)
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class="col">
					<h1>This page is only available to users!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<LoginPrompt />
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<HabitsTable IsHabit="false" />
		</div>
	</div>
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<DiaryCalendar />
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			Utolsó 7 nap bejegyzései
		</div>
		<div class="col m-2">
			<div class="row mb-2">
				<div class="col" style="background-color: #ffefef">
					Új oszlop felvétele
				</div>
			</div>
			<div class="row">
				<div class="col" style="background-color: #ffefef">
					Statisztika egyes adatokról, lehet köztük léptetni
				</div>
			</div>
		</div>
	</div>
}

@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{

			await InvokeAsync(() => _appState.Title = "Diary");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}

