@page "/diary"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.Widgets.Diaries
@using Interfaces

@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class="col">
					<h1>This page is only available to users!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<LoginPrompt />
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col m-2 w-100" style="background-color: #ffefef">
			<DiaryCalendar />
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			<WeeklyDiary/>
		</div>
	</div>
	<div class="row">
		<div class="col" style="background-color: #ffefef">
			<DiaryStat />
		</div>
	</div>
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<DiaryTable IsHabit="false" />
		</div>
	</div>
}

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			await InvokeAsync(() => _appState.Title = "Diary");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}

