@page "/diary"

@inherits DiariesBase

@using MauiBlazorWeb.Shared.BasePages
@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.DiaryComps
@using Interfaces

@inject IAppState _appState
@inject IDataAccess _data
@inject IDiaryManager _diaryManager

@if (!_appState.IsLoggedIn)
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class="col">
					<h1>This page is only available to users!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<LoginPrompt />
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<HabitsTable IsHabit="false" RerenderParent="UpdateDiaryComponents" @ref="table" />
		</div>
	</div>
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<DiaryCalendar RerenderParent="UpdateDiaryComponents" @ref="calendar" />
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			Utolsó 7 nap bejegyzései
		</div>
		<div class="col m-2">
			<div class="row mb-2">
				<div class="col" style="background-color: #ffefef">
					Új oszlop felvétele
				</div>
			</div>
			<div class="row">
				<div class="col" style="background-color: #ffefef">
					Statisztika egyes adatokról, lehet köztük léptetni
				</div>
			</div>
		</div>
	</div>
}

@code {
	private HabitsTable table;
	private DiaryCalendar calendar;

	public Diary()
	{
		table = new HabitsTable();
		calendar = new DiaryCalendar();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			allDiaryComps.Add(table);
			allDiaryComps.Add(calendar);

			await InvokeAsync(() => _appState.Title = "Diary");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}

