@page "/habits"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.Widgets.Diaries
@using Interfaces

@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<NotLoggedIn />
}
else
{
	<div class="row">
		<div class="col m-2">
			<button class="btn btn-info" @onclick="() => newHabitDialog.Show()">
				Add a new Habit!
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef;">
			<DiaryTable IsHabit="true" />
		</div>
	</div>
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<HabitChart />
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			<HabitStat />
		</div>
	</div>

	<NewDiaryColDialog IsHabit="true" @ref=newHabitDialog />
}

@code {
	private NewDiaryColDialog newHabitDialog = new NewDiaryColDialog();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			await InvokeAsync(() => _appState.Title = "Habit Tracker");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}

