@page "/"

@using Bases
@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.DiaryComps
@using Interfaces

@inject IAppState _appState
@inject IDiaryCompSubject _diarySubject

@if (!_appState.IsLoggedIn)
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<h1>Welcome to LifeTracker</h1>
			<LoginPrompt />
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class = "col">
					<DiaryCalendar />
				</div>
			</div>
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class="col">
					<HabitsToday IsHabit="true" />
				</div>
			</div>
		</div>
		<div class="col m-2">
			<div class="row mb-2" style="background-color: #ffefef">
				<div class = "col">
					Stat kép 1
				</div>
			</div>
			<div class="row" style="background-color: #ffefef">
				<div class="col">
					Stat kép 2
				</div>
			</div>
		</div>
	</div>
}

@code
{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await InvokeAsync(() => _appState.Title = "Home");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}