@page "/"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models
@using Interfaces

@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<h1>Welcome to LifeTracker</h1>
	<LoginPrompt />
}
else
{
	<h1>This your dashboard</h1>
}

@code
{
	[CascadingParameter] public Action RerenderLayout { get; set; }
	[CascadingParameter] public Action<bool> SetLoadingScreen { get; set; }
	protected override async Task OnInitializedAsync()
	{
		await InvokeAsync(() => _appState.Title = "Home");
		await InvokeAsync(() => RerenderLayout?.Invoke());
	}
}