@page "/"

@inherits DiariesBase

@using MauiBlazorWeb.Shared.BasePages
@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.DiaryComps
@using Interfaces

@inject IAppState _appState
@inject IDiaryManager _diaryManager

@if (!_appState.IsLoggedIn)
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<h1>Welcome to LifeTracker</h1>
			<LoginPrompt />
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class = "col">
					<DiaryCalendar RerenderParent="UpdateDiaryComponents" @ref="calendar" />
				</div>
			</div>
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class="col">
					<HabitsToday IsHabit="true" RerenderParent="UpdateDiaryComponents" @ref="habits" />
				</div>
			</div>
		</div>
		<div class="col m-2">
			<div class="row mb-2" style="background-color: #ffefef">
				<div class = "col">
					Stat kép 1
				</div>
			</div>
			<div class="row" style="background-color: #ffefef">
				<div class="col">
					Stat kép 2
				</div>
			</div>
		</div>
	</div>
}

@code
{
	private DiaryCalendar calendar;
	private HabitsToday habits;

	public Home()
	{
		calendar = new DiaryCalendar();
		habits = new HabitsToday();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			allDiaryComps.Add(calendar);
			allDiaryComps.Add(habits);

			await InvokeAsync(() => _appState.Title = "Home");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
		}
	}
}