@page "/"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models
@using Interfaces

@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<h1>Welcome to LifeTracker</h1>
	<LoginPrompt />
}
else
{
	<div class="row">
		<div class="col" style="background-color: #cde9e9">
			Naptár<br />
			Amelyik nap volt bejegyzés azt teli karikával jelölni, mai napot pirossal.<br />
			Napra kattintva megnyitja annak a napnak az oldalát
		</div>
		<div class="col" style="background-color: #12e9e9">
			Szokások kilistázva<br/>
			Lehet köztük görgetni és kipipálással megváltozik a nézetük
		</div>
		<div class="col" style="background-color: #f310e9">
			<div class="row" style="background-color: #e2fef9">
				Stat kép 1
			</div>
			<div class="row" style="background-color: #f211e9">
				Stat kép 2
			</div>
		</div>
	</div>
}

@code
{
	protected override async Task OnInitializedAsync()
	{
		await InvokeAsync(() => _appState.Title = "Home");
		await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
	}
}