@page "/"

@using MauiBlazorWeb.Shared.Components.Dialogs
<h1>Hello, world!</h1>

Welcome to your new app?

<button class="btn btn-warning" @onclick="OpenLogin">Open Login</button>

<MessageDialog @ref="login" Title="HAPPPY" Link="Login">
    <p>This is the modal content. </p>
</MessageDialog>

@code {
    
}
@code
{
	[CascadingParameter]
	public Action<string>? UpdateTitle { get; set; }
	protected override async Task OnInitializedAsync()
	{
		UpdateTitle?.Invoke("Home");
	}

	MessageDialog? login;

	private void OpenLogin()
	{
		login?.Show();
	}
}