@page "/"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models
@using Services
@using Blazored.LocalStorage

@inject ILocalStorageService localStorage

@if (userInfo.isLoggedIn)
{
	<h1>This your dashboard</h1>
}
else
{
	<h1>Welcome to LifeTracker</h1>

	<p>Get started by logging in!
		<br/>
		Or if you don't have an account register one!
	</p>
	<a type="button" class="btn btn-primary" href=Register>Register here!</a>
	<a type="button" class="btn btn-info" href=Login>Login here!</a>
}

@code
{
	[CascadingParameter]
	public Action<string>? UpdateTitle { get; set; }

	private UserInfo userInfo { get; set; } = new UserInfo();
	protected override async Task OnInitializedAsync()
	{
		await Task.Run(() => UpdateTitle?.Invoke("Home"));
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await userInfo.UpdateInfo(localStorage);
			await InvokeAsync(StateHasChanged);
		}
	}
}