<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>Name</h2>
            Description  
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>
                <input type="range" min=0 max=10 step="1" />
                <span class="size-label">
                    size-label
                </span>
            </div>
        </form>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">bigmoni</span>
            </span>
            <button class="btn btn-success ml-auto">Order ></button>
        </div>
    </div>
</div>

@code {

}
