@page "/login"
<h3>Login</h3>

<li><a class="dropdown-item" href="login" @onclick="ShowLoginDialog">Log In</a></li>

@if (ShowingLoginDialog)
{
    <LoginDialog/>

	<ModalExample/>
}


@code {
	[Parameter]
	public bool ShowingLoginDialog { get; set; } = false;
	private void ShowLoginDialog()
	{
		ShowingLoginDialog = true;
	}

	void SuccesfulLogin()
	{

	}
}
