@page "/login"

<li><a class="dropdown-item" href="login" @onclick="ShowLoginDialog">Log In</a></li>

@if (ShowingLoginDialog)
{
    <LoginDialog/>

	<ModalExample/>
}


@code {
	[CascadingParameter]
	public Action<string>? UpdateTitle { get; set; }
	protected override async Task OnInitializedAsync()
	{
		UpdateTitle?.Invoke("Login");
	}

	[Parameter]
	public bool ShowingLoginDialog { get; set; } = false;
	private void ShowLoginDialog()
	{
		ShowingLoginDialog = true;
	}

	void SuccesfulLogin()
	{

	}
}
