@page "/profile"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using Interfaces
@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<h1>This page is only available to users!</h1>
	<LoginPrompt />
}
else
{
	<div class="row">
		<div class="col">
			<div class="row">
				<label class="col-sm-2">Username:</label>
				<div class="col-sm-2">
					@_appState.CurrentUser.Username
				</div>
				<div class="col-sm-3 d-flex align-items-center">
					<button type="button" class="btn btn-primary" @onclick="()=> usernameEdit.Show()">Edit</button>
				</div>
			</div>
		</div>
		<div class="col">
			Import data
		</div>
	</div>
	<EditDialog RerenderParent="RerenderProfile" @ref="usernameEdit">
		<EditUsernameDialog />
	</EditDialog>
}

@code {
	private EditDialog usernameEdit;

	public Profile()
	{
		usernameEdit = new EditDialog();
	}

	public async Task RerenderProfile()
	{
		await InvokeAsync(StateHasChanged);
	}	 

	protected override async Task OnInitializedAsync()
	{
		await InvokeAsync(() => _appState.Title = "Profile");
		await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
	}
}
