@page "/sports"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.Widgets.Sport
@using Interfaces

@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<NotLoggedIn/>
}
else
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<SportsHome />
		</div>
	</div>
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
			await InvokeAsync(() => _appState.Title = "Sports");
			await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
        }
    }
}
