@page "/sports"

@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@inject IJSRuntime JS   

<h3>Local Storage Example</h3>

<button @onclick="SaveToLocalStorage">Save to Local Storage</button>
<button @onclick="GetFromLocalStorage">Get from Local Storage</button>
<button @onclick="RemoveFromLocalStorage">Remove from Local Storage</button>

<p>Stored Value: @storedValue</p>

@code {
    [CascadingParameter]
    public Action<string>? UpdateTitle { get; set; }
    protected override async Task OnInitializedAsync()
    {
        UpdateTitle?.Invoke("Sports");
    }

    private string storedValue;

    private async Task SaveToLocalStorage()
    {
        await localStorage.SetItemAsync("myKey", "Hello from Local Storage");
        await localStorage.SetItemAsync("id", 3);
        await localStorage.SetItemAsync("username", "goaat");
        await JS.InvokeVoidAsync("alert", "sziaaa");
    }

    private async Task GetFromLocalStorage()
    {
        storedValue = await localStorage.GetItemAsync<string>("myKey") ?? "Not found";
    }

    private async Task RemoveFromLocalStorage()
    {
        await localStorage.RemoveItemAsync("myKey");
        await localStorage.RemoveItemAsync("id");
        await localStorage.RemoveItemAsync("username");
        storedValue = "Value removed.";
    }
}