@page "/statistics"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using Interfaces
@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			<div class="row">
				<div class="col">
					<h1>This page is only available to users!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<LoginPrompt />
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			Heti/hav/évi/összes
		</div>
	</div>
	<div class="row">
		<div class="col m-2" style="background-color: #ffefef">
			Diary statisztikái, gráfjai
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			Habit tracker statisztikái, gráfjai
		</div>
		<div class="col m-2" style="background-color: #ffefef">
			Új statisztika/gráf felvétele<br/>
			ki lehet választani melyik adatból milyen megjelenéssel<br/>
			kezelni lehet a meglévőket, változtatni rajtuk pl. kinézetet
		</div>
	</div>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await InvokeAsync(() => _appState.Title = "Statistics");
		await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
	}
}
