@page "/statistics"

@using MauiBlazorWeb.Shared.Components.Dialogs
@using Interfaces
@inject IAppState _appState

@if (!_appState.IsLoggedIn)
{
	<h1>This page is only available to users!</h1>
	<LoginPrompt />
}
else
{
	<div class="row">
		Heti/hav/évi/összes
	</div>
	<div class="row">
		<div class="col-sm-5" style="background-color: #cde9e9">
			Diary statisztikái, gráfjai
		</div>
		<div class="col-sm-4" style="background-color: #12e9e9">
			Habit tracker statisztikái, gráfjai
		</div>
		<div class="col-sm-3" style="background-color: #f310e9">
			Új statisztika/gráf felvétele<br/>
			ki lehet választani melyik adatból milyen megjelenéssel<br/>
			kezelni lehet a meglévőket, változtatni rajtuk pl. kinézetet
		</div>
	</div>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await InvokeAsync(() => _appState.Title = "Statistics");
		await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
	}
}
