@page "/test"
@using MauiBlazorWeb.Shared.Components.Dialogs
@implements IDisposable
@inject NavigationManager Navigation

<p>
    <button @onclick="@(() => Navigation.NavigateTo("/"))">
        Home (Allowed)
    </button>
    <button @onclick="@(() => Navigation.NavigateTo("/counter"))">
        Counter (Prevented)
    </button>
</p>

<WarningDialog Title="Deleting your account" OnAcceptAction="() => ConfirmNavigation(targetLoc)" @ref="warning">
    Leaving this page means that your workout will be discarded!<br />
    Do you still want to leave this page?
</WarningDialog>

@code {
    private IDisposable? registration;
    private WarningDialog warning = new WarningDialog();
    private bool isSaved = false;
    private string? targetLoc;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            registration = Navigation.RegisterLocationChangingHandler(OnLocationChanging);
        }
    }

    private ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if(!isSaved)
        {
            targetLoc = context.TargetLocation;
            warning.Show();
            StateHasChanged();

            context.PreventNavigation();
        }
        return ValueTask.CompletedTask;
    }

    private async Task ConfirmNavigation(string? target)
    {
        isSaved = true;
        Navigation.NavigateTo(target ?? "", true);
        await Task.CompletedTask;
    }

    public void Dispose() => registration?.Dispose();
}

<script>
        window.preventPageUnload = function (message) {
    const handler = function (event) {
        event.preventDefault();
        event.returnValue = message;
        return message;
    };
    window.addEventListener('beforeunload', handler);

    // Return a function to remove the handler
    return function () {
        window.removeEventListener('beforeunload', handler);
    };
};
</script>