@inherits EditDialog
@using Interfaces
@using Models
@inject IAppState _appState

<div class="row">
    <div class="col">
        Current Date of birth:
    </div>
    <div class="col">
        @_appState.CurrentUser.Birthdate.ToShortDateString()
    </div>
</div>
<div class="row">
    <EditForm EditContext=editContext>
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col">
                New Date (MM/dd/yyyy)::
            </div>
            <div class="col">
                <InputDate class="form-control" @bind-Value=newAccount.Birthdate />
            </div>
        </div>
    </EditForm>
</div>
<div class="row">
    <button type="button" class="btn btn-primary" @onclick="Enter">Enter</button>
</div>

@code {
    private async Task Enter()
    {
        IDataAccess _data = new DataAccess();
        string sql = "Update account set birthdate = @name where id = @userid;";
        int affectedRows = await _data.SaveData(sql, new { @name = newAccount.Birthdate, @userid = _appState.CurrentUser.Id });
        if (affectedRows == 1)
        {
            _appState.CurrentUser.Birthdate = newAccount.Birthdate;
            await InvokeAsync(StateHasChanged);
        }
        else
            throw new Exception("Error editing Birthdate.");
    }
}