<div class="d-grid d-inline-block" style="width: fit-content;">
    <div class="row">
        <div class="col text-center w-100">
            Get started by logging in!
        </div>
        <div class="col text-center w-100">
            Or if you don't have an account, register one!
        </div>
    </div>
    <div class="row mt-2">
        <div class="col w-100">
            <a type="button" class="btn btn-info w-100" href="Login">Login here!</a>
        </div>
        <div class="col w-100">
            <a type="button" class="btn btn-primary w-100" href="Register">Register here!</a>
        </div>
    </div>
</div>
