<div class="row">
	<div class="col m-2" style="background-color: #ffefef">
		<div class="row">
			<div class="col">
				<h1>This page is only available to users!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<LoginPrompt />
			</div>
		</div>
	</div>
</div>
