@inherits EditAccountDialog
@using Interfaces
@using Models

@inject IAppState _appState
@inject IAccountManager _accountManager

<div class="row">
    <div class="col">
        Current Email:
    </div>
    <div class="col">
        @_appState.CurrentUser.Email
    </div>
</div>
<div class="row">
    <EditForm EditContext=editContext>
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col">
                New Email:
            </div>
            <div class="col">
                <InputText class="form-control" @bind-Value=newAccount.Email />
            </div>
        </div>
        <div class="row">
            <ValidationMessage For="@(() => newAccount.Email)" />
        </div>
    </EditForm>
</div>
<div class="row">
    <button type="button" class="btn btn-primary" @onclick="OnEnter">Enter</button>
</div>

@code {
    private async Task OnEnter()
    {
        await _appState.ShowLoadingScreenWhileAwaiting(Enter);
    }

    private async Task Enter()
    {
        bool emailExists = false;
        messageStore.Clear();

        await _appState.UpdateExistingUsers(_accountManager);

        foreach (var user in _appState.ExistingUsers)
        {
            if (newAccount.Email is not null && newAccount.Email.Equals(user.Email))
            {
                emailExists = true;
                break;
            }
        }

        if (newAccount.Email != "")
        {
            if (!newAccount.Email.Equals(_appState.CurrentUser.Email))
            {
                if (!emailExists)
                {
                    _appState.CurrentUser.Email = newAccount.Email;
                    bool isCorrect = await _accountManager.UpdateAccount(_appState.CurrentUser);
                    if (isCorrect)
                        await InvokeAsync(StateHasChanged);
                    else
                        throw new Exception("Error editing email address.");
                }
                else
                {
                    messageStore.Add(() => newAccount.Email, "This email adress is already used");
                }
            }
            else
            {
                messageStore.Add(() => newAccount.Email, "New email adress must differ from the old one.");
            }
        }
        else
        {
            messageStore.Add(() => newAccount.Email, "New email adress can not be empty.");
        }
    }
}