@inherits SportCompBase

@using Bases
@using MauiBlazorWeb.Shared.Components.Dialogs
@using Models.Sports
@using MauiBlazorWeb.Shared.Components.Icons
@using BlazorBootstrap

<div class="row">
	<table class="table table-striped text-center">
		<thead class="thead-light">
			<tr>
				<th>Set</th>
				@switch (exercise.Type)
				{
					case ExerciseType.Bodyweight:
						<th>Reps</th>
						<th>RPE</th>
						break;
					case ExerciseType.Machine:
						<th>KG</th>
						<th>Reps</th>
						<th>RPE</th>
						break;
					case ExerciseType.Timed:
						<th>Hours</th>
						<th>Minutes</th>
						<th>Seconds</th>
						break;
					case ExerciseType.Distanced:
						<th>KM</th>
						<th>Hours</th>
						<th>Minutes</th>
						<th>Seconds</th>
						break;
					default:
						break;
				}
				<th>Done</th>
				<th>Del</th>
			</tr>
		</thead>
		<tbody>
			@{int i = 1;}
			@foreach (var set in sets)
			{
				<tr class="@(set.IsDone ? "done" : "undone")">
					<th class="tracker-post" @onclick="() => CycleSetType(set)">
						@switch (set.Type)
						{
							case SetsType.Normal:
								@(i++);
								break;
							case SetsType.Warmup:
								<div class="text-danger">
									W
								</div>
								break;
							case SetsType.Drop:
								<div class="text-info">
									D
								</div>
								break;
						}
					</th>

					@switch (exercise.Type)
					{
						case ExerciseType.Bodyweight:
							<td>
								<NumberInput TValue="int?" @bind-Value=set.Reps EnableMinMax="true" Min="0" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int?" @bind-Value=set.RPE EnableMinMax="true" Min="0" Max="10" Style="background-color: inherit" />
							</td>
							break;
						case ExerciseType.Machine:
							<td>
								<NumberInput TValue="double?" @bind-Value=set.Weight EnableMinMax="true" Min="0" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int?" @bind-Value=set.Reps EnableMinMax="true" Min="0" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int?" @bind-Value=set.RPE EnableMinMax="true" Min="0" Max="10" Style="background-color: inherit" />
							</td>
							break;
						case ExerciseType.Timed:
							<td>
								<NumberInput TValue="int" @bind-Value=set.LengthHours EnableMinMax="true" Min="0" Max="99" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int" @bind-Value=set.LengthMinutes EnableMinMax="true" Min="0" Max="59" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int" @bind-Value=set.LengthSeconds EnableMinMax="true" Min="0" Max="59" Style="background-color: inherit" />
							</td>
							break;
						case ExerciseType.Distanced:
							<td>
								<NumberInput TValue="double?" @bind-Value=set.Distance EnableMinMax="true" Min="0" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int" @bind-Value=set.LengthHours EnableMinMax="true" Min="0" Max="99" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int" @bind-Value=set.LengthMinutes EnableMinMax="true" Min="0" Max="59" Style="background-color: inherit" />
							</td>
							<td>
								<NumberInput TValue="int" @bind-Value=set.LengthSeconds EnableMinMax="true" Min="0" Max="59" Style="background-color: inherit" />
							</td>
							break;
						default:
							break;
					}

					<td class="@(set.IsDone ? "done" : "tracker-post")" @onclick="() => ToggleSetDone(set)">
						@if (set.IsDone)
						{
							<IconDone />
						}
						else
						{
							<IconDash />
						}
					</td>
					<td class="delete" @onclick="() => DeleteSet(set)">
						<IconDelete />
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="@addColspan">
					<button class="btn btn-info" @onclick="AddSet">
						Add a new Set! <IconAdd />
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<WarningDialog Title="Unfinished Set" @ref="warning">
	<p>Your set is not finished!</p>
	@switch (exercise.Type)
	{
		case ExerciseType.Bodyweight:
			<p>You must set a correct value for the number of Reps!</p>
			break;
		case ExerciseType.Machine:
			<p>You must set correct values for the number of Reps and the Weight!</p>
			break;
		case ExerciseType.Timed:
			<p>You must set a correct value for the time!</p>
			break;
		case ExerciseType.Distanced:
			<p>You must set a correct value for the time or the distance!</p>
			break;
		default:
			break;
	}
</WarningDialog>

@code {
	[Parameter, EditorRequired] public int WorkoutId { get; set; }
	[Parameter, EditorRequired] public int ExerciseId { get; set; }

	private Workout workout;
	private Exercise exercise;

	private List<Sets> sets;
	private int addColspan;

	private WarningDialog warning;

	public ExerciseSets()
	{
		workout = new Workout();
		exercise = new Exercise();

		sets = new List<Sets>();
		warning = new WarningDialog();
	}

	protected override async Task ValidateParameters()
	{
		exercise = await ValidateExercise(ExerciseId);
		workout = await ValidateWorkout(WorkoutId);

		@switch (exercise.Type)
		{
			case ExerciseType.Bodyweight:
				addColspan = 5;
				break;
			case ExerciseType.Machine:
				addColspan = 6;
				break;
			case ExerciseType.Timed:
				addColspan = 4;
				break;
			case ExerciseType.Distanced:
				addColspan = 5;
				break;
			case ExerciseType.Other:
				addColspan = 3;
				break;
		}

		await base.ValidateParameters();
	}

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		sets = await _sportManager.GetSetsByBoth(ExerciseId, WorkoutId);
	}


	private async Task CycleSetType(Sets set)
	{
		if (set.Type == SetsType.Drop)
			set.Type = SetsType.Normal;
		else
			set.Type++;

		bool isCorrect = await _sportManager.UpdateSet(set);
		if (!isCorrect)
			throw new Exception($"Sorry, we could not update your Set");

		await RefreshSportComps();
	}

	private async Task ToggleSetDone(Sets set)
	{
		bool isCorrect = true;
		@switch (exercise.Type)
		{
			case ExerciseType.Bodyweight:
				if (set.Reps is null)
				{
					isCorrect = false;
					warning.Show();
				}
				break;
			case ExerciseType.Machine:
				if (set.Reps is null || set.Weight is null)
				{
					isCorrect = false;
					warning.Show();
				}
				break;
			case ExerciseType.Timed:
				if (set.LengthHours == 0 && set.LengthMinutes == 0 && set.LengthSeconds == 0)
				{
					isCorrect = false;
					warning.Show();
				}
				break;
			case ExerciseType.Distanced:
				if (set.Distance is null && (set.LengthHours == 0 && set.LengthMinutes == 0 && set.LengthSeconds == 0))
				{
					isCorrect = false;
					warning.Show();
				}
				break;
			default:
				break;
		}

		if(isCorrect)
		{
			set.IsDone = !set.IsDone;
			isCorrect = await _sportManager.UpdateSet(set);
			if (!isCorrect)
				throw new Exception($"Sorry, we could not update your Set");
		}
	}

	private async Task DeleteSet(Sets set)
	{
		bool isCorrect = await _sportManager.DeleteSet(set);
		if (!isCorrect)
			throw new Exception($"Sorry, we could not delete your Set");

		await RefreshSportComps();
	}

	private async Task AddSet()
	{
		Sets newSet = new Sets { Exercise_Id = ExerciseId, Workout_Id = WorkoutId };

		bool isCorrect = await _sportManager.InsertSet(newSet);
		if (!isCorrect)
			throw new Exception($"Sorry, we could not insert your Set");

		await RefreshSportComps();
	}

	public async Task DeleteSets()
	{
		foreach(var set in sets)
		{
			await DeleteSet(set);
		}
	}

	public bool ValidateSets()
	{
		bool retVal = true;
		foreach(var set in sets)
		{
			if (!set.IsDone)
			{
				retVal = false;
				break;
			}
		}
		return retVal;
	}
}

<style>
	.tracker-post {
		vertical-align: middle;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.tracker-post:hover {
			background-color: powderblue;
		}

	.undone {
		vertical-align: middle;
		transition: background-color 0.3s;
	}

	.done {
		vertical-align: middle;
		transition: background-color 0.3s;
		background-color: lightgreen;
	}

	.delete {
		vertical-align: middle;
		cursor: pointer;
		transition: background-color 0.3s;
		background-color: red;
	}

		.delete:hover {
			background-color: lightcoral;
		}
</style>
