@page "/sports/id={SportId:int}"
@inherits SportCompBase

@using Bases
@using Models.Sports

<h3>SportPage</h3>

@code {
	[Parameter]
	public int SportId { get; set; }
	private Account_does_Sport accountDoesSport;

	public SportPage()
	{
		accountDoesSport = new Account_does_Sport();
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		var list = await _sportManager.GetAccountDoesSport(_appState.CurrentUser.Id, SportId);
		var first = list.FirstOrDefault();
		if (first != null)
			accountDoesSport = first;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			var sport = allSports.FirstOrDefault(s => s.Id == SportId);
			if (sport != null)
			{
				await InvokeAsync(() => _appState.Title = sport.Name);
				await InvokeAsync(() => _appState.MainLayout.RerenderLayout());
			}
		}
	}
}