@inherits SportCompBase

@using Bases
@using Models.Sports
@using MauiBlazorWeb.Shared.Components.Dialogs
@using MauiBlazorWeb.Shared.Components.Icons
@using MauiBlazorWeb.Shared.Components.Widgets.Sport.Dialogs

<div class="row" style="background-color: lightgrey">
	<div class="col-auto" style="word-wrap: break-word;">
		<h3>@sport.Name</h3>
	</div>
	<div class="col w-auto float-end">
		@if (sport.Creator_Account_Id == _appState.CurrentUser.Id)
		{
			<button class="btn btn-warning" @onclick="()=> editSportDialog.Show(sport)">
				<IconEdit />
			</button>
			<button class="btn btn-danger" @onclick="() => warningDelete.Show()">
				<IconDelete />
			</button>
		}
		<button class="btn btn-secondary float-end" @onclick="()=> warningUnFollow.Show()">Unfollow</button>
	</div>
</div>

<div class="row my-1">
	<div class="col">
		<div class="row">
			<div class="col">
				<button class="btn btn-primary" @onclick="StartWorkoutPage">
					<IconAdd /> Start a new workout
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-info" @onclick="GoToPage">Go to @sport.Name page</button>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<RoutineTable AccountDoesId="accountDoes.Id" />
			</div>
		</div>
	</div>
</div>


<WarningDialog Title="Unfollowing a Sport" OnAcceptAction="OnUnfollow" @ref="warningUnFollow">
	By unfollowing @sport.Name you will lose all your routines and workouts for this Sport?<br />
	This action can not be undone!
</WarningDialog>

<WarningDialog Title="Deleting a Sport" OnAcceptAction="OnDeleteSport" @ref="warningDelete">
	Do you want to delete @sport.Name?<br />
	This action can not be undone!
</WarningDialog>

<EditSportDialog @ref=editSportDialog />

@code {
	[Parameter, EditorRequired]
	public int SportId { get; set; }

	private WarningDialog warningUnFollow;
	private WarningDialog warningDelete;
	private EditSportDialog editSportDialog;

	private Account_does_Sport accountDoes;
	private Sport sport;

	public SportSummary()
	{
		warningUnFollow = new WarningDialog();
		warningDelete = new WarningDialog();
		editSportDialog = new EditSportDialog();

		accountDoes = new Account_does_Sport();
		sport = new Sport();
	}

	protected override async Task ValidateParameters()
	{
		sport = ValidateSport(SportId);

		var list = await _sportManager.GetAccountDoesSport(_appState.CurrentUser.Id, sport.Id);
		var first = list.FirstOrDefault();
		if (first != null)
			accountDoes = first;

		await base.ValidateParameters();
	}

	private void GoToPage()
	{
		navigation.NavigateTo($"sports/id={accountDoes.Id}", forceLoad: true);
	}

	private async Task StartWorkoutPage()
	{
		if (accountDoes == null)
			throw new Exception($"Sorry, this Sport is not followed.");
		else
			await OnStartWorkout(accountDoes.Id);
	}

	private async Task OnUnfollow()
	{
		await _appState.ShowLoadingScreenWhileAwaiting(Unfollow);
		navigation.Refresh(true);
	}

	private async Task Unfollow()
	{
		if(accountDoes == null)
			throw new Exception($"Sorry, we could not unfollow {sport.Name}.");

		bool isCorrect = await _sportManager.DeleteAccountDoesSport(accountDoes);
		if (!isCorrect)
			throw new Exception($"Sorry, we could not unfollow {sport.Name}.");
	}

	private async Task OnDeleteSport()
	{
		await _appState.ShowLoadingScreenWhileAwaiting(DeleteSport);
		navigation.Refresh(true);
	}

	private async Task DeleteSport()
	{
		await Unfollow();
		bool isCorrect = await _sportManager.DeleteSport(sport);
		if (!isCorrect)
			throw new Exception($"Sorry, we could not delete {sport.Name}.");
	}
}
