@inherits SportCompBase

@using Bases
@using Models.Sports

<div class="row">
	<Calendar Title="Workouts" SpecialDates="uniqueDates" OnDayClickAction="OpenDay" FirstDate="firstDate"/>
</div>
@code {
	[Parameter]
	public required int AccountDoesId { get; set; }
	private Account_does_Sport accountDoesSport = new();
	private List<DateTime> uniqueDates = new();

	protected override async Task ValidateParameters()
	{
		accountDoesSport = ValidateAccountDoesSport(AccountDoesId);

		await base.ValidateParameters();
	}

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();
		var list = await SportManager.GetWorkouts(accountDoesSport.Id, false);

		uniqueDates = list.Select(obj => obj.Starttime).Distinct().ToList();
	}

	private async Task OpenDay(DateTime day)
	{
		Navigation.NavigateTo(day.ToString("yyyy-MM-dd"));
		await Task.CompletedTask;
	}
}
