@inherits SportCompBase

@using Bases
@using Models.Sports

<h3>Sport stat: Workoutok száma: </h3>
<h2>Barchartos TimePeriodos beosztás?</h2>

@code {
	[Parameter, EditorRequired]
	public int AccountDoesId { get; set; }
}
