@inherits SportCompBase

@using Bases
@using Models.Sports

<h3>Sport stat: Workoutok száma: x db</h3>
<h2>Barchartos TimePeriodos beosztás mennyi idő: finish-starttime</h2>
<h2>Naponként mennyi óra</h2>

@code {
	[Parameter, ]
	public int AccountDoesId { get; set; }
}
