@inherits SportCompBase

@using Bases
@using Models.Sports
@using MauiBlazorWeb.Shared.Components.Widgets.Sport.Dialogs

@for (int i = 0; i < accountDoesSports.Count / 3 + 1; i++)
{
	<div class="row">
		@for (int j=0; j < 3; j++)
		{
			if (i * 3 + j < accountDoesSports.Count)
			{
				<div class="col m-2" style="background-color: navajowhite">
					<WorkoutsOnDate AccountDoesId="accountDoesSports[i*3+j].Id" Date="Date" />
				</div>
			}
		}
	</div>
}

@code {
	[Parameter] public required DateTime Date { get; set; }

	private List<Account_does_Sport> accountDoesSports = new();

	protected override async Task UpdateTables()
	{
		await base.UpdateTables();

		accountDoesSports = await SportManager.GetAccountDoesSports(AppState.CurrentUser.Id);
	}
}