@inherits SportCompBase

@using Bases
@using Models.Sports

<h3>Workout box: header - Workout name | Routine name | Date | alatta sorban Notes egy ideig kiírva majd cut</h3>
<h2>Workout content: Feladat nevek és Settek száma felsorolva 2xA db táblázatban</h2>
<h2>Legalján széles button: See workout!</h2>

@code {

}
