@inherits SportCompBase

@using Bases
@using Models.Sports
@using MauiBlazorWeb.Shared.Components.Icons

@if (isVisible)
{
    <div class="modal fade show" style="display:block" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select an exercise to add to your workout</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Hide"></button>
                </div>
                <div class="modal-body">
                    @if (isError)
                    {
                        <h4 class="text-danger">You already track this exercise!</h4>
                    }
                    <ExerciseLibrary AccountDoesId="AccountDoesId" IsInWorkout="true" OnAddAction="Add"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" @onclick="Hide">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter] public required int AccountDoesId { get; set; } = 0;
    [Parameter] public required int WorkoutId { get; set; }
    [Parameter] public required List<int> ExerciseIds { get; set; }
    private bool isVisible = false;
    private bool isError = false;

    public void Show()
    {
        isVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        isVisible = false;
        StateHasChanged();
    }

    private async Task Add(Exercise ex)
    {
        if (ExerciseIds.Contains(ex.Id))
        {
            isError = true;
            StateHasChanged();
        }
        else
        { 
            isError = false;
            Sets newSet = new Sets { Exercise_Id = ex.Id, Workout_Id = WorkoutId };

            bool isCorrect = await SportAPI.InsertSet(newSet);
            await Task.Run(RefreshSportComps);
            if (!isCorrect)
                throw new Exception($"Sorry, we could not insert your Set");

            Hide();
        }
    }
}