.dropdown-menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    background-color: #0a1b7e;
}

.dropdown-menu-upward {
    transform: translateY(-5px);
}