@using MauiBlazorWeb.Shared.Components.Pages
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<div class="dropdown">
    @if (isDropdownOpen)
    {
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow show">
            <li><div class="dropdown-item" @onclick="moda.ModalShow">Log In</div></li>
            <li><a class="dropdown-item" href="register" @onclick="ToggleDropdown">Register</a></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    }
</div>
<NavLink class="nav-link d-flex align-items-center text-white" @onclick="ToggleDropdown">
    <img src=@pfpPath width="32" height="32" class="rounded-circle me-2">
    <strong @bind = "username"/>
</NavLink>

<ModalExample @ref=moda/>

@code {
    ModalExample moda;
    string pfpPath;
    string username;
    private bool isDropdownOpen = false;
    [Parameter]
    public bool ShowingLoginDialog { get; set; } = false;

    public async Task RerenderComponent()
    {
        pfpPath = await localStorage.GetItemAsync<string>("pfpPath") ?? "/css/def_user.jpg";
        username = await localStorage.GetItemAsync<string>("username") ?? "Account";
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RerenderComponent();
        }
    }

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }
}
