<footer class="fixed-bottom text-end p-2" style="background-color: rgba(255, 255, 255, 0.2); z-index: 1000;">
    <div class="text-muted">Website by: Szabó Dániel @DateTime.UtcNow.Year</div>
</footer>
